@tailwind base;
@tailwind components;
@tailwind utilities;

input:active,
select:active,
textarea:active {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 1.2px solid;
  outline: 0;
}

button {
  cursor: pointer;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

#input-date {
  all: unset;
  position: absolute;
  inset: 0;
  cursor: pointer;
  color: transparent;
}